.container1 {
    font-family: Roboto;
    background-color: #1f2937;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    font-size: 24px;
    color: #f9fAf8;
}
header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
header ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;

}
.main-text {
    font-size: 48px;
    color:#f9fAf8;
    font-weight: 900;
}
.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: auto;
}
.header-info button {
    background-color:#3882f6;
    color:#f9fAf8;
    width: 100px;
    height: 30px;
    border-radius: 7px;
    border: none;
}
.header-content {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}
.img-div {
    width: 500px;
    height: 180px;
    background-color: #a9a9a9;
    color:#f9fAf8;
    display:flex;
    justify-content: center;
    align-items: center;
}
.random-info {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.mid-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.img {
    border:2px solid #3882f6;
    width: 124px;
    height: 124px;
    border-radius: 10px;
}